html {
  background-color: #9acffe;
  background-attachment: fixed;
  color: #01447e;
  font-family: optima;
  max-width: 800px;
  display:flex;
  margin: auto;
}

body {
  padding: 16px;
  flex-direction: column;
  flex 0 1 600px;
  margin-left: 350px;
  margin-right: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: transparent;

}

.left-bar{
  height: 100%;
  width: 30%;
  position: fixed;
  float: left;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ecf3ff;
  overflow-x: hidden;
  padding-top: 20px;
}


.main{
  padding: 0px 10px;
  float: right;
  width: 70%;
}

img {
  height: 200px;
  width: 200px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

p{
font-family:Verdana;
font-size: 12px;
}

h1{
  font-size: 50px;
}
