
<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/index.css">
</head>
<body onload="getLocation()">
  <div id="body">
    <script src="/static/script.js"></script>
    <div class="left-bar" align="center">
      <div id="weather-pic">
        <span id = "icon"></span>
        <img src="https://i.ibb.co/JtfNgVj/sun.png">
      </div>
      <div id="weather-text">
        <ul>
          <li><p>weather</p></li>
          <li>some other weather</li>
        </ul>
      </div>
    </div>
    <div class="right-bar" align="center">
      <div id="weather-tmr">
        <span id = "icon2"></span>
        <img src="https://i.ibb.co/JtfNgVj/sun.png">
      </div>
    </div>
    <div class="main" align="center">
      <div id="standard-content">
        <div id="temperature">
          <h1>69°</h1>
        </div>
        <div id="welcome message">
          <p>weather weather weather yay<br>please wear clothes thanks</p>
        </div>
      </div>
    </div>
    </div>
  </body>
  </html>


  <!-- A background color other than white on an element.
  A border.
  A font color other than black.
  A sans-serif font.
  Rounded borders on an element (note: the element must have either a border or a background color to see the rounded border).
-->
