
<!doctype html>


<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="getLocation()">
  <div id="body">
    <script src="../static/index.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <div class="left-bar" align="center">
      <h2>Today's Weather</h2>
      <div id="weather-pic">
        <span id = "icon"><img src="https://i.ibb.co/h7J6sKT/cloudy.png" alt=""></span>
      </div>
      <div id="weather-text">
        <h2>Cloudy with a chance</h2>
      </div>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
    </div>

    <div class="main">
      <div id="standard-content">
        <div id="temperature">
          <h1>69°</h1>
        </div>
        <div id="welcome">

        </div>
      </div>
    </div>
  </div>
</body>
</html>
