
<!doctype html>


<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/index.css">
</head>
<body onload="getLocation()">
  <div id="body">
    <script src="../static/index.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div class="left-bar" align="center">
      <div id="weather-pic">
        <span id = "icon"></span>
      </div>
      <div id="weather-text">
        <ul>
          <li><p>weather</p></li>
          <li>some other weather</li>

        </ul>
      </div>
    </div>
    <div class="right-bar" align="center">
      <div id="weather-tmr">
        <span id = "icon2"><img src="https://i.ibb.co/JtfNgVj/sun.png" alt=""></span>
      </div>
    </div>
    <div class="main" align="center">
      <div id="standard-content">
        <div id="temperature">
          <h1>69°</h1>
        </div>
        <div id="welcome message">
          <p>weather weather weather yay<br>please wear clothes thanks</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
